@import 'base/variables';

body {
    font-family: 'MuseoModerno', cursive;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header.scss';
@import 'blocks/buttoms';
@import 'blocks/benefits';
@import 'blocks/media';