@import 'base/variables';

body {
    font-family: 'MuseoModerno', cursive;
}

.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header.scss';
@import 'blocks/buttoms';
@import 'blocks/benefits';
@import 'blocks/consultation'; 
@import 'blocks/forms'; 
@import 'blocks/carousel.scss'; 
@import 'blocks/catalog'; 
@import 'blocks/reviews.scss'; 
@import 'blocks/footer.scss';
@import 'blocks/modal';
@import 'blocks/pageup.scss';

@import 'blocks/media';