.catalog {
    padding-bottom: 80px;
    color: #0D0D0D;

    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0;
    }

    &__tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 46px 0 0 0;
        padding-left: 0;
        list-style-type: none;
    }

    &__tab {
        width: 222px;
        height: 50px;
        background: rgba(0, 0, 0, 0.0001);
        border: 2px solid #D0D0D0;

        font-weight: 400;
        font-size: 18px;
        line-height: 48px;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        margin: 0 5px;
        color: #6B6B6B;
        transition: s all;
        transform: skewX(-25deg);

        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }

        div {
            transform: skewX(25deg);
        }

        &_active {
            background: $main-color;
            color: #fff;
            border: none;
        }
    }

    &__content {
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        &_active {
            display: flex;
        }
    }

    &-item {
        width: 300px;
        overflow: hidden;
        min-height: 440px;
        border: 2px solid #E8E8E8;
        padding: 20px;
        text-align: center;
        margin: 0 8px;
        margin-bottom: 20px;

        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }

        &__subtitle {
            margin-top: 15px;
            font-weight: 700;
            font-size: 16px;
            line-height: 25px;
        }

        &__descr {
            margin-top: 15px;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
        }

        &__link {
            margin-top: 17px;
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            color: $main-color;
            text-decoration: underline;
            text-transform: uppercase;

            &:hover {
                color: $main-color;
            }
        }

        hr {
            margin: 17px 0;
            background: #E8E8E8;
        }

        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__old-pticses {
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            text-decoration-line: line-through;
            color: #555555;
        }

        &__pticse {
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
        }

        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }

        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 0.5s all;

            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }

        &__list {
            position: relative;
            width: 50%;
            margin-left: 20px;
            padding-right: 20px;
            padding-left: 15px;
            margin-bottom: 0;
            list-style-type: none;
            transform: translateX(0%);
            transition: 0.5s all;

            &_active {
                transform: translateX(-100%);
                margin-left: 0px;
            }

            li {
                position: relative;
                text-align: start;
                font-weight: 300;
                font-size: 14px;
                line-height: 21px;
                color: #555555;
                margin-bottom: 5px;

                &::before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    left: -15px;
                    top: 7px;
                }
            }
        }

        &__back {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 15px));
            display: block;
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            color: $main-color;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
}