.catalog {
    padding-bottom: 80px;
    color: #0D0D0D;

    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        text-transform: uppercase;
        text-align: center;
    }

    &__tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 46px 0 0 0;
        padding-left: 0;
        list-style-type: none;
    }

    &__tab {
        width: 222px;
        height: 50px;
        background: rgba(0, 0, 0, 0.0001);
        border: 2px solid #D0D0D0;

        font-weight: 400;
        font-size: 18px;
        line-height: 48px;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        margin: 0 5px;
        color: #6B6B6B;
        transition: s all;
        transform: skewX(-25deg);

        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }

        div {
            transform: skewX(25deg);
        }

        &_active {
            background: $main-color;
            color: #fff;
            border: none;
        }
    }

    &__content {
        margin-top: 60px;
    }

    &-item {
        width: 300px;
        min-height: 440px;
        border: 2px solid #E8E8E8;
        padding: 20px;
        text-align: center;

        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }

        &__subtitle {
            margin-top: 15px;
            font-weight: 700;
            font-size: 16px;
            line-height: 25px;
        }

        &__descr {
            margin-top: 15px;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
        }

        &__link {
            margin-top: 17px;
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            color: $main-color;

            &:hover {
                color: $main-color;
            }
        }

        hr {
            margin: 17px 0;
            background: #E8E8E8;
        }

        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__old-pticses {
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            text-decoration-line: line-through;
            color: #555555;
        }

        &__pticse {
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
        }
    }
}