.consultation {
    min-height: 680px;
    padding: 100px 0 108px 0;
    background: url(../img/consultation_bg.jpg) center (center/cover) no-repeat;
    color: #fff;

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        text-transform: uppercase;
    }

    &__descr {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
    }

    .error {
        border: 1px solid red;
    }

    label.error {
        border: none;
        margin-bottom: 15px;
        text-align: center;
    }
}