.footer {
    height: 630px;
    position: relative;

    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background: $main-color;
        padding: 50px;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
    }

    &__addr {
        margin-bottom: 36px;
        color: #FFFFFF;
    }

    &__phone {
        display: block;
        margin-bottom: 36px;
        font-weight: 700;
        color: #FFFFFF;
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center ;
    }

    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 2px solid #FFFFFF;
        border-radius: 100%;
        margin: 0 15px;
        img {
            height: 27px;
        }
    }
}