.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;

    input {
        height: 54px;
        background-color: #fff;
        border-radius: 5px;
        border: none;
        margin-bottom: 12px;
        padding: 0 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 66px;
        color: #4B4B4B;

        &:nth-child(3) {
            margin-bottom: 17px;
        }
    }

    &_mt25 {
        margin-top: 25px;
    }
}